@media  screen and (max-width : 750px) {
    /* -------- header -------- */
    nav > button{
        position: static;
        visibility: visible;
    }

    nav > div > a{
        display: none;
    }
    /* ------ header ---------- */

       /* -------- home start --------= */
       #home {
        overflow: hidden;
        height: 800px;
    }

    #home > div {
        padding-top: 50px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 100px;
    }

    #home p {
        width: 100%;
    }
    /* ------- home end ------ */

    #tentang {
        margin-top: 50px;
    }
    
    #tentang .pembungkus {
        flex-direction: column;
        font-size: 14px;
    }

    /* ------- about end ----- */

}

@media screen and (max-width : 512px) {
    
    /* -------- home start --------= */
    #home {
        overflow: hidden;
        height: 800px;
    }

    #home > div {
        padding-top: 50px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 100px;
    }

    #home p {
        width: 100%;
    }
    /* ------- home end ------ */

    /* -------- about start ---- */

    #tentang {
        margin-top: 50px;
    }
    
    #tentang .pembungkus {
        flex-direction: column;
        font-size: 14px;
    }

    /* ------- about end ----- */

}